[submodule "0x1A-hash_tables/0x1A-hash_tables/alx-low_level_programming"]
	path = 0x1A-hash_tables/0x1A-hash_tables/alx-low_level_programming
	url = https://github.com/Nousairasyl/alx-low_level_programming.git
